@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 1 20% 6%;
    --fg: 210 40% 98%;
  }
  html, body, #root {
    height: 100%;
  }
  body {
    @apply bg-slate-950 text-slate-100;
    font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
  }
}

@layer components {
  .container-app {
    @apply mx-auto max-w-6xl p-6;
  }
}
